--
-- PostgreSQL database dump
--

\restrict XNsThNV6UnFYqjXepMtWOn4RhAIzdHqCKiSpawuGEgRFa9APCsiXhDuK74IkTZ8

-- Dumped from database version 16.12 (ed61a14)
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: _system; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA _system;


ALTER SCHEMA _system OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: replit_database_migrations_v1; Type: TABLE; Schema: _system; Owner: neondb_owner
--

CREATE TABLE _system.replit_database_migrations_v1 (
    id bigint NOT NULL,
    build_id text NOT NULL,
    deployment_id text NOT NULL,
    statement_count bigint NOT NULL,
    applied_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE _system.replit_database_migrations_v1 OWNER TO neondb_owner;

--
-- Name: replit_database_migrations_v1_id_seq; Type: SEQUENCE; Schema: _system; Owner: neondb_owner
--

CREATE SEQUENCE _system.replit_database_migrations_v1_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE _system.replit_database_migrations_v1_id_seq OWNER TO neondb_owner;

--
-- Name: replit_database_migrations_v1_id_seq; Type: SEQUENCE OWNED BY; Schema: _system; Owner: neondb_owner
--

ALTER SEQUENCE _system.replit_database_migrations_v1_id_seq OWNED BY _system.replit_database_migrations_v1.id;


--
-- Name: bracket_matches; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.bracket_matches (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    season_id text NOT NULL,
    tournament_id text NOT NULL,
    phase text NOT NULL,
    match_order integer DEFAULT 1 NOT NULL,
    home_team_id text,
    away_team_id text,
    home_score integer,
    away_score integer,
    winner_id text,
    status text DEFAULT 'PENDIENTE'::text NOT NULL,
    match_id text,
    seed text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.bracket_matches OWNER TO neondb_owner;

--
-- Name: captain_profiles; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.captain_profiles (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    full_name text NOT NULL,
    identification_number text NOT NULL,
    phone text NOT NULL,
    email text NOT NULL,
    address text,
    emergency_contact text,
    emergency_phone text,
    observations text,
    created_at text DEFAULT now() NOT NULL,
    updated_at text DEFAULT now() NOT NULL,
    identification_type text DEFAULT 'DNI'::text,
    division_id text
);


ALTER TABLE public.captain_profiles OWNER TO neondb_owner;

--
-- Name: competition_rules; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.competition_rules (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    category_id text NOT NULL,
    format_type text NOT NULL,
    points_win integer DEFAULT 3 NOT NULL,
    points_draw integer DEFAULT 1 NOT NULL,
    points_loss integer DEFAULT 0 NOT NULL,
    round_robin text DEFAULT 'double'::text NOT NULL,
    teams_per_division integer DEFAULT 10 NOT NULL,
    promotion_count integer,
    relegation_count integer,
    federated_limit integer DEFAULT 3 NOT NULL,
    plus30_rules jsonb,
    rules_version integer DEFAULT 1 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    updated_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.competition_rules OWNER TO neondb_owner;

--
-- Name: competition_seasons; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.competition_seasons (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    category_id text NOT NULL,
    tournament_id text,
    rules_id text NOT NULL,
    rules_version integer NOT NULL,
    name text NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    updated_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.competition_seasons OWNER TO neondb_owner;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.contact_messages (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    contact_name text NOT NULL,
    phone text NOT NULL,
    email text NOT NULL,
    comments text NOT NULL,
    status text DEFAULT 'NUEVO'::text NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.contact_messages OWNER TO neondb_owner;

--
-- Name: division_movements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.division_movements (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    season_id text NOT NULL,
    team_id text NOT NULL,
    team_name text NOT NULL,
    from_division text NOT NULL,
    to_division text NOT NULL,
    movement_type text NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.division_movements OWNER TO neondb_owner;

--
-- Name: divisions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.divisions (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    theme text NOT NULL,
    description text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.divisions OWNER TO neondb_owner;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.expenses (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    concept text NOT NULL,
    amount real NOT NULL,
    expense_at text NOT NULL,
    notes text,
    receipt_url text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.expenses OWNER TO neondb_owner;

--
-- Name: fine_payments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fine_payments (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    team_id text NOT NULL,
    amount real NOT NULL,
    notes text,
    paid_at text NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    fine_id character varying(255)
);


ALTER TABLE public.fine_payments OWNER TO neondb_owner;

--
-- Name: fines; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fines (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    match_id text NOT NULL,
    match_event_id text,
    team_id text NOT NULL,
    player_id text,
    card_type text NOT NULL,
    amount real NOT NULL,
    status text DEFAULT 'PENDIENTE'::text NOT NULL,
    paid_amount real,
    paid_at text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.fines OWNER TO neondb_owner;

--
-- Name: marketing_media; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.marketing_media (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    type text NOT NULL,
    url text NOT NULL,
    thumbnail_url text,
    tournament_id text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.marketing_media OWNER TO neondb_owner;

--
-- Name: match_attendance; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.match_attendance (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    team_id text NOT NULL,
    player_id text NOT NULL,
    present boolean DEFAULT false NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.match_attendance OWNER TO neondb_owner;

--
-- Name: match_events; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.match_events (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    type text NOT NULL,
    minute integer NOT NULL,
    team_id text NOT NULL,
    player_id text NOT NULL,
    related_player_id text,
    notes text
);


ALTER TABLE public.match_events OWNER TO neondb_owner;

--
-- Name: match_evidence; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.match_evidence (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    event_id text,
    type text NOT NULL,
    url text NOT NULL,
    transcript text,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.match_evidence OWNER TO neondb_owner;

--
-- Name: match_lineups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.match_lineups (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    team_id text NOT NULL,
    player_ids jsonb NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.match_lineups OWNER TO neondb_owner;

--
-- Name: match_substitutions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.match_substitutions (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    team_id text NOT NULL,
    player_out_id text,
    player_in_id text,
    minute integer,
    reason character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.match_substitutions OWNER TO neondb_owner;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.matches (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    round_number integer NOT NULL,
    date_time text NOT NULL,
    field text NOT NULL,
    home_team_id text,
    away_team_id text,
    referee_user_id text,
    status text DEFAULT 'PROGRAMADO'::text NOT NULL,
    home_score integer,
    away_score integer,
    vs_image_url text,
    stage text,
    referee_notes text,
    stage_id text,
    division_id character varying(255)
);


ALTER TABLE public.matches OWNER TO neondb_owner;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user_id character varying(255) NOT NULL,
    to_user_id character varying(255),
    subject character varying(255) NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    read_at timestamp without time zone
);


ALTER TABLE public.messages OWNER TO neondb_owner;

--
-- Name: news; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.news (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    match_id text,
    title text NOT NULL,
    content text NOT NULL,
    image_url text,
    author_id text NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    updated_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.news OWNER TO neondb_owner;

--
-- Name: player_suspensions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.player_suspensions (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    player_id text NOT NULL,
    team_id text NOT NULL,
    match_id text NOT NULL,
    match_event_id text,
    reason text NOT NULL,
    matches_remaining integer DEFAULT 1 NOT NULL,
    status text DEFAULT 'ACTIVO'::text NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.player_suspensions OWNER TO neondb_owner;

--
-- Name: players; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.players (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    team_id text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    jersey_number integer NOT NULL,
    "position" text,
    identification_id text,
    photo_urls text[],
    is_federated boolean,
    federation_id text,
    active boolean DEFAULT true NOT NULL,
    identification_type text DEFAULT 'DNI'::text
);


ALTER TABLE public.players OWNER TO neondb_owner;

--
-- Name: referee_profiles; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.referee_profiles (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    full_name text NOT NULL,
    identification_number text NOT NULL,
    phone text NOT NULL,
    email text NOT NULL,
    association text,
    years_of_experience integer,
    observations text,
    status text DEFAULT 'ACTIVO'::text NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    updated_at text DEFAULT now() NOT NULL,
    identification_type text DEFAULT 'DNI'::text
);


ALTER TABLE public.referee_profiles OWNER TO neondb_owner;

--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.site_settings (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    league_name text DEFAULT 'La Liga de Campeones'::text NOT NULL,
    logo_url text,
    phone text,
    email text,
    address text,
    instagram_url text,
    facebook_url text,
    whatsapp_number text,
    updated_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.site_settings OWNER TO neondb_owner;

--
-- Name: standings_entries; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.standings_entries (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    season_id text NOT NULL,
    tournament_id text NOT NULL,
    team_id text NOT NULL,
    division text,
    played integer DEFAULT 0 NOT NULL,
    won integer DEFAULT 0 NOT NULL,
    drawn integer DEFAULT 0 NOT NULL,
    lost integer DEFAULT 0 NOT NULL,
    goals_for integer DEFAULT 0 NOT NULL,
    goals_against integer DEFAULT 0 NOT NULL,
    goal_difference integer DEFAULT 0 NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    updated_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.standings_entries OWNER TO neondb_owner;

--
-- Name: team_payments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.team_payments (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    team_id text NOT NULL,
    amount real NOT NULL,
    method text,
    notes text,
    paid_at text NOT NULL,
    created_at text DEFAULT now() NOT NULL
);


ALTER TABLE public.team_payments OWNER TO neondb_owner;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.teams (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    division_id text,
    name text NOT NULL,
    colors text NOT NULL,
    home_field text NOT NULL,
    logo_url text,
    captain_user_id text,
    coach_name text,
    instagram_url text
);


ALTER TABLE public.teams OWNER TO neondb_owner;

--
-- Name: tournament_stages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_stages (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    tournament_id text NOT NULL,
    name text NOT NULL,
    sort_order integer DEFAULT 1 NOT NULL,
    stage_type text
);


ALTER TABLE public.tournament_stages OWNER TO neondb_owner;

--
-- Name: tournament_types; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_types (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    algorithm text NOT NULL,
    description text NOT NULL,
    supports_double_round boolean DEFAULT false NOT NULL
);


ALTER TABLE public.tournament_types OWNER TO neondb_owner;

--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournaments (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    division_id text,
    tournament_type_id text,
    name text NOT NULL,
    season_name text NOT NULL,
    location text NOT NULL,
    start_date text NOT NULL,
    end_date text,
    status text DEFAULT 'ACTIVO'::text NOT NULL,
    champion_team_id text,
    champion_team_name text,
    final_standings jsonb,
    fee_per_team real,
    fine_yellow real,
    fine_red real,
    fine_red_direct real,
    max_federated_players integer,
    double_round boolean,
    schedule_generated boolean,
    created_at text DEFAULT now() NOT NULL,
    max_players_per_team integer,
    registration_open boolean DEFAULT true
);


ALTER TABLE public.tournaments OWNER TO neondb_owner;

--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    team_id text,
    status text DEFAULT 'ACTIVO'::text NOT NULL,
    created_at text DEFAULT now() NOT NULL,
    phone character varying(30)
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: replit_database_migrations_v1 id; Type: DEFAULT; Schema: _system; Owner: neondb_owner
--

ALTER TABLE ONLY _system.replit_database_migrations_v1 ALTER COLUMN id SET DEFAULT nextval('_system.replit_database_migrations_v1_id_seq'::regclass);


--
-- Data for Name: replit_database_migrations_v1; Type: TABLE DATA; Schema: _system; Owner: neondb_owner
--



--
-- Data for Name: bracket_matches; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.bracket_matches (id, season_id, tournament_id, phase, match_order, home_team_id, away_team_id, home_score, away_score, winner_id, status, match_id, seed, created_at) FROM stdin;
\.


--
-- Data for Name: captain_profiles; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: competition_rules; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.competition_rules (id, category_id, format_type, points_win, points_draw, points_loss, round_robin, teams_per_division, promotion_count, relegation_count, federated_limit, plus30_rules, rules_version, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competition_seasons; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.competition_seasons (id, category_id, tournament_id, rules_id, rules_version, name, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contact_messages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: division_movements; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.division_movements (id, season_id, team_id, team_name, from_division, to_division, movement_type, created_at) FROM stdin;
\.


--
-- Data for Name: divisions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.divisions (id, name, theme, description, created_at) FROM stdin;
e22ae070-36b7-4591-950e-f0216b8a7bb2	Primera Divisi├│n	PRIMERA	M├íxima categor├¡a	2026-02-18 12:10:37.549125+00
dd036abe-f19c-4a6f-8fe2-231aa5582882	Segunda Divisi├│n	SEGUNDA	Segunda categor├¡a	2026-02-18 12:10:37.575956+00
2cec8476-a224-41d5-b597-388fc05c2c75	+ 30	SEGUNDA	Torneo libre +30	2026-03-04 09:56:01.956136+00
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.expenses (id, tournament_id, concept, amount, expense_at, notes, receipt_url, created_at) FROM stdin;
ffbe099a-a1f9-4975-8f78-390a8d378b1c	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	F├®nix 	40	2026-04-05	Detrecho de partido 	\N	2026-04-05 10:11:32.781245+00
\.


--
-- Data for Name: fine_payments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.fine_payments (id, tournament_id, team_id, amount, notes, paid_at, created_at, fine_id) FROM stdin;
\.


--
-- Data for Name: fines; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.fines (id, tournament_id, match_id, match_event_id, team_id, player_id, card_type, amount, status, paid_amount, paid_at, created_at) FROM stdin;
720bd322-0d75-409b-bc20-d526ebf1322e	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	75939d11-ee34-4abd-929c-01d374a34eba	\N	91cf16fd-0336-4df0-a15a-25e820eed7b5	\N	NO_PRESENTADO	15	PENDIENTE	\N	\N	2026-04-05 11:53:02.575448+00
\.


--
-- Data for Name: marketing_media; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: match_attendance; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: match_events; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.match_events (id, match_id, type, minute, team_id, player_id, related_player_id, notes) FROM stdin;
\.


--
-- Data for Name: match_evidence; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.match_evidence (id, match_id, event_id, type, url, transcript, created_at) FROM stdin;
\.


--
-- Data for Name: match_lineups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.match_lineups (id, match_id, team_id, player_ids, created_at) FROM stdin;
\.


--
-- Data for Name: match_substitutions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.match_substitutions (id, match_id, team_id, player_out_id, player_in_id, minute, reason, created_at) FROM stdin;
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.messages (id, from_user_id, to_user_id, subject, content, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.news (id, tournament_id, match_id, title, content, image_url, author_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: player_suspensions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.player_suspensions (id, tournament_id, player_id, team_id, match_id, match_event_id, reason, matches_remaining, status, created_at) FROM stdin;
49a8510e-ce2c-4b98-baef-ac79fe05bc61	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	142df60c-a974-4030-8601-7bd12200b6a5	2309b0ff-44cc-4964-b56c-182fe8ebb925	95f15b6f-2c1f-4960-8dfb-35814ea8da69	fcc2602d-a5d7-4cbf-a45e-b7e710a594ce	Doble tarjeta amarilla (roja)	1	ACTIVO	2026-04-07 11:16:29.509508+00
\.


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: referee_profiles; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.site_settings (id, league_name, logo_url, phone, email, address, instagram_url, facebook_url, whatsapp_number, updated_at) FROM stdin;
db1a8e5c-4704-42db-99b4-bdaea0d3018e	La Liga de Campeones 	/objects/uploads/88751738-0edb-40a4-b32b-c95814c87e2f				Laligadecampeones_100			2026-03-03T10:42:46.287Z
\.


--
-- Data for Name: standings_entries; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.standings_entries (id, season_id, tournament_id, team_id, division, played, won, drawn, lost, goals_for, goals_against, goal_difference, points, "position", updated_at) FROM stdin;
\.


--
-- Data for Name: team_payments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.team_payments (id, tournament_id, team_id, amount, method, notes, paid_at, created_at) FROM stdin;
ba1eb040-f8fe-4e7c-952a-2b1658ff6352	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	6dc24c30-97fe-410a-8bf4-f096507da76c	95	Efectivo (inscripci├│n)	Queda inscripci├│n (285)	2026-04-05	2026-04-05 12:28:02.178558+00
a22cfe35-69eb-4480-803e-5d582be43df8	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	2e23f2d6-4042-4a94-9ebb-13069e23fc1c	30	Efectivo (inscripci├│n)	Queda 350 	2026-04-05	2026-04-05 13:46:16.19913+00
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_stages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tournament_stages (id, tournament_id, name, sort_order, stage_type) FROM stdin;
d08eb75d-033b-4c30-a093-9c964f7908a1	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	Jornada Regular	1	LIGA
\.


--
-- Data for Name: tournament_types; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tournament_types (id, name, algorithm, description, supports_double_round) FROM stdin;
4fbb15a2-daf9-4a1f-afe9-7a8eaca2ee5b	Liga (Todos contra todos)	ROUND_ROBIN	Todos los equipos juegan entre s├¡. El campe├│n es quien acumula m├ís puntos.	t
d563df28-8c52-4e5c-82d8-9139409cf9a5	Eliminaci├│n directa	KNOCKOUT	Llaves directas, el perdedor queda eliminado.	f
7b479915-ef1f-4921-9f2f-2d5aafb0b214	Grupos + Playoffs	GROUPS_PLAYOFFS	Fase de grupos seguida de eliminatorias.	f
\.


--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: replit_database_migrations_v1_id_seq; Type: SEQUENCE SET; Schema: _system; Owner: neondb_owner
--

SELECT pg_catalog.setval('_system.replit_database_migrations_v1_id_seq', 34, true);


--
-- Name: replit_database_migrations_v1 replit_database_migrations_v1_pkey; Type: CONSTRAINT; Schema: _system; Owner: neondb_owner
--

ALTER TABLE ONLY _system.replit_database_migrations_v1
    ADD CONSTRAINT replit_database_migrations_v1_pkey PRIMARY KEY (id);


--
-- Name: bracket_matches bracket_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.bracket_matches
    ADD CONSTRAINT bracket_matches_pkey PRIMARY KEY (id);


--
-- Name: captain_profiles captain_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.captain_profiles
    ADD CONSTRAINT captain_profiles_pkey PRIMARY KEY (id);


--
-- Name: competition_rules competition_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.competition_rules
    ADD CONSTRAINT competition_rules_pkey PRIMARY KEY (id);


--
-- Name: competition_seasons competition_seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.competition_seasons
    ADD CONSTRAINT competition_seasons_pkey PRIMARY KEY (id);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: division_movements division_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.division_movements
    ADD CONSTRAINT division_movements_pkey PRIMARY KEY (id);


--
-- Name: divisions divisions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: fine_payments fine_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fine_payments
    ADD CONSTRAINT fine_payments_pkey PRIMARY KEY (id);


--
-- Name: fines fines_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_pkey PRIMARY KEY (id);


--
-- Name: marketing_media marketing_media_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.marketing_media
    ADD CONSTRAINT marketing_media_pkey PRIMARY KEY (id);


--
-- Name: match_attendance match_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.match_attendance
    ADD CONSTRAINT match_attendance_pkey PRIMARY KEY (id);


--
-- Name: match_events match_events_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_pkey PRIMARY KEY (id);


--
-- Name: match_evidence match_evidence_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.match_evidence
    ADD CONSTRAINT match_evidence_pkey PRIMARY KEY (id);


--
-- Name: match_lineups match_lineups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_pkey PRIMARY KEY (id);


--
-- Name: match_substitutions match_substitutions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.match_substitutions
    ADD CONSTRAINT match_substitutions_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: player_suspensions player_suspensions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.player_suspensions
    ADD CONSTRAINT player_suspensions_pkey PRIMARY KEY (id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: referee_profiles referee_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.referee_profiles
    ADD CONSTRAINT referee_profiles_pkey PRIMARY KEY (id);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (id);


--
-- Name: standings_entries standings_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.standings_entries
    ADD CONSTRAINT standings_entries_pkey PRIMARY KEY (id);


--
-- Name: team_payments team_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_payments
    ADD CONSTRAINT team_payments_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: tournament_stages tournament_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_stages
    ADD CONSTRAINT tournament_stages_pkey PRIMARY KEY (id);


--
-- Name: tournament_types tournament_types_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_types
    ADD CONSTRAINT tournament_types_pkey PRIMARY KEY (id);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_replit_database_migrations_v1_build_id; Type: INDEX; Schema: _system; Owner: neondb_owner
--

CREATE UNIQUE INDEX idx_replit_database_migrations_v1_build_id ON _system.replit_database_migrations_v1 USING btree (build_id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict XNsThNV6UnFYqjXepMtWOn4RhAIzdHqCKiSpawuGEgRFa9APCsiXhDuK74IkTZ8

