--
-- PostgreSQL database dump
--

\restrict UO2EqA5CMUeKmteKMf77ICgLPqY7jCposbF5D8o6K6mHNS82C8RIn0erAOSsyAe

-- Dumped from database version 16.12 (ed61a14)
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: replit_database_migrations_v1; Type: TABLE DATA; Schema: _system; Owner: -
--



--
-- Data for Name: bracket_matches; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bracket_matches (id, season_id, tournament_id, phase, match_order, home_team_id, away_team_id, home_score, away_score, winner_id, status, match_id, seed, created_at) FROM stdin;
\.


--
-- Data for Name: captain_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: competition_rules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.competition_rules (id, category_id, format_type, points_win, points_draw, points_loss, round_robin, teams_per_division, promotion_count, relegation_count, federated_limit, plus30_rules, rules_version, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competition_seasons; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.competition_seasons (id, category_id, tournament_id, rules_id, rules_version, name, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contact_messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: division_movements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.division_movements (id, season_id, team_id, team_name, from_division, to_division, movement_type, created_at) FROM stdin;
\.


--
-- Data for Name: divisions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.divisions (id, name, theme, description, created_at) FROM stdin;
e22ae070-36b7-4591-950e-f0216b8a7bb2	Primera Divisi├│n	PRIMERA	M├íxima categor├¡a	2026-02-18 12:10:37.549125+00
dd036abe-f19c-4a6f-8fe2-231aa5582882	Segunda Divisi├│n	SEGUNDA	Segunda categor├¡a	2026-02-18 12:10:37.575956+00
2cec8476-a224-41d5-b597-388fc05c2c75	+ 30	SEGUNDA	Torneo libre +30	2026-03-04 09:56:01.956136+00
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.expenses (id, tournament_id, concept, amount, expense_at, notes, receipt_url, created_at) FROM stdin;
ffbe099a-a1f9-4975-8f78-390a8d378b1c	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	F├®nix 	40	2026-04-05	Detrecho de partido 	\N	2026-04-05 10:11:32.781245+00
\.


--
-- Data for Name: fine_payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.fine_payments (id, tournament_id, team_id, amount, notes, paid_at, created_at, fine_id) FROM stdin;
\.


--
-- Data for Name: fines; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.fines (id, tournament_id, match_id, match_event_id, team_id, player_id, card_type, amount, status, paid_amount, paid_at, created_at) FROM stdin;
720bd322-0d75-409b-bc20-d526ebf1322e	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	75939d11-ee34-4abd-929c-01d374a34eba	\N	91cf16fd-0336-4df0-a15a-25e820eed7b5	\N	NO_PRESENTADO	15	PENDIENTE	\N	\N	2026-04-05 11:53:02.575448+00
\.


--
-- Data for Name: marketing_media; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: match_attendance; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: match_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.match_events (id, match_id, type, minute, team_id, player_id, related_player_id, notes) FROM stdin;
\.


--
-- Data for Name: match_evidence; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.match_evidence (id, match_id, event_id, type, url, transcript, created_at) FROM stdin;
\.


--
-- Data for Name: match_lineups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.match_lineups (id, match_id, team_id, player_ids, created_at) FROM stdin;
\.


--
-- Data for Name: match_substitutions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.match_substitutions (id, match_id, team_id, player_out_id, player_in_id, minute, reason, created_at) FROM stdin;
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.messages (id, from_user_id, to_user_id, subject, content, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.news (id, tournament_id, match_id, title, content, image_url, author_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: player_suspensions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.player_suspensions (id, tournament_id, player_id, team_id, match_id, match_event_id, reason, matches_remaining, status, created_at) FROM stdin;
49a8510e-ce2c-4b98-baef-ac79fe05bc61	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	142df60c-a974-4030-8601-7bd12200b6a5	2309b0ff-44cc-4964-b56c-182fe8ebb925	95f15b6f-2c1f-4960-8dfb-35814ea8da69	fcc2602d-a5d7-4cbf-a45e-b7e710a594ce	Doble tarjeta amarilla (roja)	1	ACTIVO	2026-04-07 11:16:29.509508+00
\.


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: referee_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.site_settings (id, league_name, logo_url, phone, email, address, instagram_url, facebook_url, whatsapp_number, updated_at) FROM stdin;
db1a8e5c-4704-42db-99b4-bdaea0d3018e	La Liga de Campeones 	/objects/uploads/88751738-0edb-40a4-b32b-c95814c87e2f				Laligadecampeones_100			2026-03-03T10:42:46.287Z
\.


--
-- Data for Name: standings_entries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.standings_entries (id, season_id, tournament_id, team_id, division, played, won, drawn, lost, goals_for, goals_against, goal_difference, points, "position", updated_at) FROM stdin;
\.


--
-- Data for Name: team_payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.team_payments (id, tournament_id, team_id, amount, method, notes, paid_at, created_at) FROM stdin;
ba1eb040-f8fe-4e7c-952a-2b1658ff6352	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	6dc24c30-97fe-410a-8bf4-f096507da76c	95	Efectivo (inscripci├│n)	Queda inscripci├│n (285)	2026-04-05	2026-04-05 12:28:02.178558+00
a22cfe35-69eb-4480-803e-5d582be43df8	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	2e23f2d6-4042-4a94-9ebb-13069e23fc1c	30	Efectivo (inscripci├│n)	Queda 350 	2026-04-05	2026-04-05 13:46:16.19913+00
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tournament_stages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tournament_stages (id, tournament_id, name, sort_order, stage_type) FROM stdin;
d08eb75d-033b-4c30-a093-9c964f7908a1	86a7dc6c-f590-49f0-abb1-7f3c0dffe62d	Jornada Regular	1	LIGA
\.


--
-- Data for Name: tournament_types; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tournament_types (id, name, algorithm, description, supports_double_round) FROM stdin;
4fbb15a2-daf9-4a1f-afe9-7a8eaca2ee5b	Liga (Todos contra todos)	ROUND_ROBIN	Todos los equipos juegan entre s├¡. El campe├│n es quien acumula m├ís puntos.	t
d563df28-8c52-4e5c-82d8-9139409cf9a5	Eliminaci├│n directa	KNOCKOUT	Llaves directas, el perdedor queda eliminado.	f
7b479915-ef1f-4921-9f2f-2d5aafb0b214	Grupos + Playoffs	GROUPS_PLAYOFFS	Fase de grupos seguida de eliminatorias.	f
\.


--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: replit_database_migrations_v1_id_seq; Type: SEQUENCE SET; Schema: _system; Owner: -
--

SELECT pg_catalog.setval('_system.replit_database_migrations_v1_id_seq', 34, true);


--
-- PostgreSQL database dump complete
--

\unrestrict UO2EqA5CMUeKmteKMf77ICgLPqY7jCposbF5D8o6K6mHNS82C8RIn0erAOSsyAe

